<h1>Projects</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Importance</th>
    <th>Bus Factor</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Add as Specialty</th>
    <th>Request to follow</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.importance %></td>
    <td><%= item.busFactor %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%if item.specialty?(current_user.id) == 0%><button class="btn btn-success">Add</button><%end%></td>
    <td><%if item.specialty?(current_user.id) == 0%><button class="btn btn-primary">Request</button><%end%></td>
  </tr>
<% end %>
</table>


<br />

<%= button_to 'New Item', new_item_path, :class => "btn", :method => :get %>
